water-df/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "water-df"
		},
		"water_projectdl_storage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'water_projectdl_storage'"
		},
		"ls_water_dep_ws_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0907-174504-ko9ka5sz"
		},
		"water_projectdl_storage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://waterprojectdl.dfs.core.windows.net/"
		},
		"6-month-trigger_properties_raw_presentation_pipeline_parameters_p_window_end_date": {
			"type": "string",
			"defaultValue": "@trigger().scheduledTime"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_water_dep_ws')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3213066854837063.3.azuredatabricks.net",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/d15b1276-1754-4798-b27c-60b85c21df12/resourceGroups/AzWaterprojectgrp/providers/Microsoft.Databricks/workspaces/waterdatabricks-ws",
					"existingClusterId": "[parameters('ls_water_dep_ws_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/water_projectdl_storage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('water_projectdl_storage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('water_projectdl_storage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/process_to_presentation_pipeline_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "water_acces_presentation",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/Water-project/water-dep/src/presentation_data/wtr_access_presentation",
							"baseParameters": {
								"p_data_source": {
									"value": "@variables('v_data_source')",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_water_dep_ws",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "water_service_presentation",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/Water-project/water-dep/src/presentation_data/wtr_service_presentation",
							"baseParameters": {
								"p_data_source": {
									"value": "@variables('v_data_source')",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_water_dep_ws",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "water_stress_presentation",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/Water-project/water-dep/src/presentation_data/wtr_stress_presentation",
							"baseParameters": {
								"p_data_source": {
									"value": "@variables('v_data_source')",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_water_dep_ws",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "water_withdrawl_presentation",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/Water-project/water-dep/src/presentation_data/wtr_wihdrawl_presentation",
							"baseParameters": {
								"p_data_source": {
									"value": "@variables('v_data_source')",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_water_dep_ws",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_window_end_date": {
						"type": "string"
					}
				},
				"variables": {
					"v_data_source": {
						"type": "String",
						"defaultValue": "SDG6"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_water_dep_ws')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_to_process_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "improved_source_raw_to_processed",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/Water-project/water-dep/src/ingestion/improved_source_raw_to_process",
							"baseParameters": {
								"p_data_source": {
									"value": "@variables('v_data_source')",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_water_dep_ws",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "safelly_used_raw_to_processed_copy1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/Water-project/water-dep/src/ingestion/safely_used_water_raw_to_process",
							"baseParameters": {
								"p_data_source": {
									"value": "@variables('v_data_source')",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_water_dep_ws",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "stress_withdrawl_raw_to_processed_copy2",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/Water-project/water-dep/src/ingestion/stress_withdrawl_raw_to_process",
							"baseParameters": {
								"p_data_source": {
									"value": "@variables('v_data_source')",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_water_dep_ws",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "water_withdrawl_raw_to_processed_copy3",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/Water-project/water-dep/src/ingestion/water_withdrawl_raw_to_process",
							"baseParameters": {
								"p_data_source": {
									"value": "@variables('v_data_source')",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_water_dep_ws",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_window_end_date": {
						"type": "string"
					}
				},
				"variables": {
					"v_data_source": {
						"type": "String",
						"defaultValue": "SDG6"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_water_dep_ws')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_presentation_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Raw pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "raw_to_process_pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"p_window_end_date": {
									"value": "@pipeline().parameters.p_window_end_date",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Execute presentation pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Raw pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "raw_to_process_pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"p_window_end_date": {
									"value": "@pipeline().parameters.p_window_end_date",
									"type": "Expression"
								}
							}
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_window_end_date": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/raw_to_process_pipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/6-month-trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "raw_presentation_pipeline",
							"type": "PipelineReference"
						},
						"parameters": {
							"p_window_end_date": "[parameters('6-month-trigger_properties_raw_presentation_pipeline_parameters_p_window_end_date')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 6,
						"startTime": "2024-09-21T19:23:08",
						"endTime": "2024-09-22T18:08:00",
						"timeZone": "Morocco Standard Time",
						"schedule": {
							"monthDays": [
								1
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/raw_presentation_pipeline')]"
			]
		}
	]
}